---
import { Sprite } from 'astro-icon';
import { getStarsForRepo } from '../../github.ts';
import { getDownloadsForPackage } from '../../npm.ts';

export interface Props {
    integration: App.Integration;
}

const { integration } = Astro.props as Props;

const stars = await getStarsForRepo(integration.repoUrl.href);
const downloads = await getDownloadsForPackage(integration.title);
---

<article class="flex flex-col rounded-lg shadow-md bg-white relative">
    <a href={integration.url.href} alt={integration.url.alt} class="absolute inset-0 z-10" target="_blank" rel="noopener noreferrer"></a>

    <div class="flex gap-x-4 justify-between items-center p-4">
        <h2 class="text-lg font-display font-bold">
            <img src={integration.image.src} alt={integration.image.alt} class="h-[1.5em] w-[1.5em] inline-block mr-1 p-1 rounded-full border-2 border-dawn" loading="lazy" />
            {integration.title}
        </h2>
        {stars && (
            <a href={integration.repoUrl.href} target="_blank" rel="noopener noreferrer" class="z-20 ml-auto subtle flex items-center gap-x-1 col-start-2 text-sm">
                <span class="sr-only">View the integration source code</span>
                <Sprite pack="fa-regular" name="star" size="1.25em" />
                <span>{stars}</span>
            </a>
        )}
        {downloads && (
            <a href={integration.npmUrl.href} target="_blank" rel="noopener noreferrer" class="z-20 subtle flex items-center col-start-2 text-sm">
                <span class="sr-only">View on NPM</span>
                <Sprite pack="heroicons-outline" name="download" size="1.25em" />
                <span>{downloads}</span>
            </a>
        )}
    </div>

    <p class="px-4 pb-4 text-sm flex-1">
        {integration.description}
    </p>
</article>
