---
import { Sprite } from 'astro-icon';

export interface Props {
    integration: App.Integration;
}

const { integration } = Astro.props as Props;

const formatter = Intl.NumberFormat('en', { notation: 'compact' });

const badges = integration.badges;

const downloads = !!integration.downloads && formatter.format(integration.downloads);

const colors = [
    'text-blue opacity-40',
    'text-red opacity-50',
    'text-yellow opacity-60',
    'text-purple opacity-50'
]

const icons = [
    { pack: 'icon-park-outline', name: 'block-one' },
    { pack: 'icon-park-outline', name: 'block-two' },
    { pack: 'icon-park-outline', name: 'block-three' },
    { pack: 'icon-park-outline', name: 'block-four' },
    { pack: 'icon-park-outline', name: 'block-five' },
    { pack: 'icon-park-outline', name: 'block-six' },
    { pack: 'icon-park-outline', name: 'block-seven' },
    { pack: 'icon-park-outline', name: 'block-eight' },
    { pack: 'icon-park-outline', name: 'block-nine' },
    { pack: 'icon-park-outline', name: 'block-ten' },
]

function randomColor() {
    return colors[Math.floor(Math.random() * colors.length)]
}

function randomIcon() {
    return icons[Math.floor(Math.random() * icons.length)]
}
---

<article class="isolate p-4 rounded-lg shadow-md bg-white relative">
    <a href={integration.url?.href} alt={integration.url?.text} class="absolute inset-0 z-10" target="_blank" rel="noopener noreferrer">
        <span class="sr-only">Learn more about {integration.title}</span>
    </a>

    <div class:list={["inline-block mr-auto icon mr-4", !integration.image && "p-2 rounded-full border-2 border-dawn"]} aria-hidden="true">
        {integration.image 
            ? (<img src={integration.image.src} alt={integration.image.alt} class="h-[2.5em] w-[2.5em] object-contain" loading="lazy" />)
            : (<Sprite {...randomIcon()} size="2em" class={randomColor()} />)}
    </div>

    <h3 class="font-display font-bold break-word pt-2">
        {integration.title}
    </h3>

    <ul class="flex items-center justify-end">
        {badges.map((badge) => (
            <li class="text-xs font-bold bg-dawn text-midnight px-2 py-0.5 rounded-full">{badge}</li>
        ))}
    </ul>

    <p class="text-sm flex-1 line-clamp-2">
        {integration.description}
    </p>

    {downloads && (
        <a href={integration.npmUrl?.href} target="_blank" rel="noopener noreferrer" class="justify-self-end inline-block z-20 subtle flex items-center gap-x-1 text-sm">
            <span class="sr-only">{downloads} weekly downloads</span>
            <Sprite pack="heroicons-outline" name="download" size="1.25em" aria-hidden="true" />
            <span>{downloads}</span>
        </a>
    )}
</article>

<style>
    /* Add margin to package avatars to match border and padding in placeholder icons */
    img {
        margin: calc(0.25rem + 2px);
    }

    article {
        display: grid;
        grid-template-rows: auto auto 1fr;
        grid-template-columns: auto 1fr auto;
        grid-template-areas:
            'icon badges stars'
            'title title title'
            'description description description';
        row-gap: 0.5rem;
    }

    .icon {
        grid-area: icon;
    }

    h3 {
        grid-area: title;
    }

    ul {
        grid-area: badges;
    }

    p {
        grid-area: description;
        align-self: start;
    }
</style>