---
import { Sprite } from 'astro-icon';

export interface Props {
    integration: App.Integration;
}

const { integration } = Astro.props as Props;

const formatter = Intl.NumberFormat('en', { notation: 'compact' });

const stars = !!integration.stars && formatter.format(integration.stars);
const downloads = !!integration.downloads && formatter.format(integration.downloads);
---

<article class="isolate flex flex-col p-4 rounded-lg shadow-md bg-white relative">
    <a href={integration.url.href} alt={integration.url.text} class="absolute inset-0 z-10" target="_blank" rel="noopener noreferrer"></a>

    <div class="flex gap-x-4 items-center">
        <div class="inline-block p-1 rounded-full border-2 border-dawn mr-auto">
            {integration.image 
                ? (<img src={integration.image.src} alt={integration.image.alt} class="h-[1.5em] w-[1.5em]" loading="lazy" />)
                : (<Sprite pack="mdi" name="toy-brick" size="1.5em" class="opacity-30" />)}
        </div>
        {integration.official && (
            <div class="flex items-center gap-x-1 col-start-2 text-sm">
                <Sprite name="logo" size="1.5em" class="inline -mr-0.5 mt-1" />
                <span>Official</span>
            </div>
        )}
        {!integration.official && stars && (
            <a href={integration.repoUrl.href} target="_blank" rel="noopener noreferrer" class="inline-block z-20 subtle flex items-center gap-x-1 text-sm">
                <span class="sr-only">View the integration source code</span>
                <Sprite pack="fa-regular" name="star" size="1.25em" />
                <span>{stars}</span>
            </a>
        )}
        {!integration.official && downloads && (
            <a href={integration.npmUrl.href} target="_blank" rel="noopener noreferrer" class="inline-block z-20 subtle flex items-center text-sm">
                <span class="sr-only">View on NPM</span>
                <Sprite pack="heroicons-outline" name="download" size="1.25em" />
                <span>{downloads}</span>
            </a>
        )}
    </div>

    <h2 class="text-md pt-4 pb-1 sm:pt-6 sm:pb-2 font-display font-bold break-word">
        {integration.title}
    </h2>

    <p class="text-sm flex-1">
        {integration.description}
    </p>
</article>
