---
import {
    getCollections,
    getThemesForCollection
} from '../../data/themes/index.js'
import CardGrid from '../../components/CardGrid.astro'
import ThemeCard from '../../components/ThemeCard.astro'
import Layout from '../../layouts/Catalog.astro'

export async function getStaticPaths() {
    const collections = await getCollections()

    return collections.map(({ slug }) => ({
        params: { slug }
    }))
}

const collections = (await getCollections()).map((collection) => {
    return {
        slug: collection.slug,
        link: {
            text: collection.text,
            href: `/themes/${collection.slug}/`
        }
    }
})

const { slug } = Astro.params as { slug: string }

const themes = await getThemesForCollection(slug)

const title = 'Themes'
const description =
    'Start your next Astro project with a real world theme built by our amazing community.'
---

<Layout
    title={title}
    description={description}
    collections={collections}
    current={slug}
>
    <Fragment slot="cards">
        <CardGrid>
            {themes.map((theme) => (
                <li>
                    <ThemeCard theme={theme} />
                </li>
            ))}
        </CardGrid>
    </Fragment>

    <Fragment slot="info">
        <a
            href="/themes/submit"
            class="underline subtle"
            >Submit your theme.</a>
        Questions about building your own themes? Join our community on
        <a href="https://astro.build/chat" class="underline subtle">Discord!</a>
    </Fragment>
</Layout>
