---
import { Icon } from 'astro-icon';

interface Props {
	title: string;
	icon: string;
	active?: boolean;
}

const { icon, title, active = false } = Astro.props;
---

<li role="presentation">
	<button
		role="tab"
		data-tab={title.toLowerCase()}
		aria-selected={active ? 'true' : undefined}
		class={`relative flex flex-col items-center gap-3 whitespace-nowrap rounded-full text-lg sm:text-xl md:min-w-[8rem]  md:rounded-lg md:p-4 md:px-6`}
	>
		<div
			data-tab-icon-container={title.toLowerCase()}
			class="w-fit h-fit landing-section rounded-full p-[4px] bg-astro-gray-300 [[aria-selected=true]_&]:text-white [[aria-selected=true]_&]:bg-red-pink-gradient"
		>
			<div class="bg-black w-16 h-16 landing-section rounded-full">
				<div
					data-tab-icon={title.toLowerCase()}
					class="w-full h-full landing-section rounded-full bg-astro-gray-300/20 [[aria-selected=true]_&]:bg-gradient-to-bl [[aria-selected=true]_&]:from-[#D83333]/20 [[aria-selected=true]_&]:to-[#F041FF]/20"
				>
					<Icon name={icon} size={32} />
				</div>
			</div>
		</div>

		<p
			data-tab-title={title.toLowerCase()}
			class="font-medium text-astro-gray-300 [[aria-selected=true]_&]:bg-gradient-to-bl [[aria-selected=true]_&]:from-[#D83333] [[aria-selected=true]_&]:to-[#F041FF] [[aria-selected=true]_&]:bg-clip-text [[aria-selected=true]_&]:text-transparent"
		>
			{title}
		</p>
	</button>
</li>
