---
import { CollectionEntry, getCollection } from "astro:content"
import CardGrid from "~/components/CardGrid.astro"
import Pagination from "~/components/Pagination.astro"
import SearchFilter, { FilterGroup } from "~/components/SearchFilter.astro"
import SidebarLayout from "~/components/SidebarLayout.astro"
import SidebarPanel from "~/components/SidebarPanel.astro"
import { IntegrationCategories } from "~/content/config.js"
import { paginate } from "~/helpers/paginate.js"
import MainLayout from "~/layouts/MainLayout.astro"
import IntegrationCard from "./_components/IntegrationCard.astro"
import SubmitIntegration from "./_components/SubmitIntegration.astro"

// Sorting priority: featured first, then compare downloads, then sort alphabetically
function sortIntegrations(a: CollectionEntry<"integrations">, b: CollectionEntry<"integrations">) {
	if (a.data.featured && b.data.featured) {
		return a.data.featured - b.data.featured
	}

	if (a.data.featured && !b.data.featured) {
		return -1
	}

	if (!a.data.featured && b.data.featured) {
		return 1
	}

	if (a.data.downloads === b.data.downloads) {
		return b.data.name.localeCompare(a.data.name)
	}

	return b.data.downloads - a.data.downloads
}

// with '[...page]' rest routes we'll get undefined for the first page, default that to 1
// otherwise, try to parse the page number from the URL
const currentPage = typeof Astro.params.page === "undefined" ? 1 : parseInt(Astro.params.page)

// invalid page number!
if (!currentPage || isNaN(currentPage)) {
	return Astro.redirect("/404")
}

// search term from the search/filter panel
const search = Astro.url.searchParams.get("search")

// get a list of all supported categories, this is the same list used by the zod schema
const categories = Array.from(IntegrationCategories.keys())

// get a list of category filters applied to the request
const selectedCategories = Astro.url.searchParams.getAll("categories[]")

// massage category data for the Filter components
const categoryFilter: FilterGroup = {
	title: "Categories",
	options: categories.map((c) => ({
		id: c,
		name: "categories[]",
		value: c,
		label: IntegrationCategories.get(c)!,
		selected: selectedCategories.includes(c),
	})),
}

const searchRegex = search && new RegExp(search, "i")

function integrationsFilter(integration: CollectionEntry<"integrations">) {
	// if at least one category filter is applied, hide integrations that don't match
	if (selectedCategories.length > 0) {
		if (!integration.data.categories.some((c: string) => selectedCategories.includes(c))) {
			return false
		}
	}

	// if a search term was used, filter down checking name/title/description
	if (searchRegex) {
		return (
			searchRegex.test(integration.data.name) ||
			searchRegex.test(integration.data.title) ||
			(integration.data.description && searchRegex.test(integration.data.description))
		)
	}

	return true
}

// get integrations, filtered by the applied search & filter, then sort the matches
const allIntegrations = await getCollection("integrations", integrationsFilter).then((entries) =>
	entries.sort(sortIntegrations),
)

// take all matching integrations and create a paginated list of results
const paginatedResults = paginate({
	data: allIntegrations,
	pageSize: 18,
	currentPage,
	route: "/integrations/[...page]",
	searchParams: Astro.url.searchParams,
})

const { page, allPages } = paginatedResults

// make sure the requested page number is valid, if not redirect to the first page of results
if (allPages.length && !page) {
	return Astro.redirect(allPages[0])
}

const integrations = page.data
---

<MainLayout
	title="Integrations"
	image={{ src: "/og/integrations.jpg", alt: "Discover our integrations" }}
>
	<div class="bg-grid relative">
		<div class="grid-container">
			<h1
				class="heading-3 mx-auto max-w-screen-lg pt-24 text-center sm:heading-2 lg:heading-1 md:pt-32 lg:pt-40"
			>
				Kick it into lightspeed with integrations
			</h1>
		</div>
	</div>

	<SidebarLayout>
		<Fragment slot="sidebar">
			<SidebarPanel>
				<SearchFilter
					indexRoute="/integrations"
					groups={[categoryFilter]}
					search={search}
					searchPlaceholder="Search for an integration"
				/>
			</SidebarPanel>
			<SubmitIntegration class="hidden lg:block" />
		</Fragment>

		{
			integrations.length > 0 ? (
				<div class="flex flex-col items-center gap-8 pb-10 sm:pb-12 md:gap-10 md:pb-16 lg:gap-12 lg:pb-20">
					<h2 class="sr-only">Integrations</h2>
					<CardGrid class="w-full max-w-screen-2xl pt-8 sm:grid-cols-2 sm:px-4 lg:px-8 lg:pt-10 xl:grid-cols-3 xl:px-10">
						{integrations.map((integration) => (
							<IntegrationCard integration={integration} />
						))}
					</CardGrid>

					{allPages.length > 1 && (
						<Pagination restRoute page={page} allPages={allPages} class="mx-auto" />
					)}
				</div>
			) : (
				<div class="flex flex-col items-center gap-12 pt-8 text-center sm:px-4 md:px-8 lg:px-10 lg:pt-10">
					<p>
						<strong>0</strong> results found for integrations matching <strong>"{search}"</strong>
					</p>
					<a href="/integrations/" rel="prefetch" class="button-primary">
						Clear filters
					</a>
				</div>
			)
		}

		<SubmitIntegration class="lg:hidden" />
	</SidebarLayout>
</MainLayout>
