---
import {
    getCollections,
    getIntegrationsForCollection
} from '../../data/integrations/index.js'
import CardGrid from '../../components/CardGrid.astro'
import IntegrationCard from '../../components/IntegrationCard.astro'
import Layout from '../../layouts/Catalog.astro'

export async function getStaticPaths() {
    const collections = await getCollections()

    return collections.map(({ slug }) => ({
        params: { slug }
    }))
}

const collections = (await getCollections()).map((collection) => {
    return {
        slug: collection.slug,
        link: {
            text: collection.text,
            href: `/integrations/${collection.slug}/`
        }
    }
})

const { slug } = Astro.params as { slug: string }

const integrations = await getIntegrationsForCollection(slug)

const title = 'Integrations'
const description =
    'Launch your next Astro project at warp speed. Try the plugins and components built by our amazing community.'
---

<Layout
    title={title}
    description={description}
    collections={collections}
    current={slug}
>
    <Fragment slot="cards">
        <CardGrid>
            {integrations.map((integration) => (
                <li>
                    <IntegrationCard integration={integration} />
                </li>
            ))}
        </CardGrid>
    </Fragment>

    <Fragment slot="info">
        <a
            href="https://docs.astro.build/en/guides/publish-to-npm/#integrations-library"
            target="_blank"
            rel="noopener noreferrer"
            class="underline subtle"
            >Add your own integrations.</a>
        Questions about building plugins and components? Join our community on
        <a href="https://astro.build/chat" class="underline subtle">Discord!</a>
    </Fragment>
</Layout>
