---
import Icon from "astro-icon";
import Link from "../../Link.astro";
import { getImage } from "astro:assets";
import astrolus from "../../../_assets/themes/astrolus.png";
import tailcast from "../../../_assets/themes/tailcast.png";
import astroShip from "../../../_assets/themes/astroship.png";
import starlight from "../../../_assets/themes/starlight.png";
import moreThemes from "../../../_assets/themes/more-themes.png";
import primaPersona from "../../../_assets/themes/prima-persona.png";

const astrolusTheme = await getImage({ src: astrolus, format: "webp", width: 1280 });
const tailcastTheme = await getImage({ src: tailcast, format: "webp", width: 1280 });
const astroShipTheme = await getImage({ src: astroShip, format: "webp", width: 1280 });
const starlightTheme = await getImage({ src: starlight, format: "webp", width: 1280 });
const primaPersonaTheme = await getImage({ src: primaPersona, format: "webp", width: 1280 });
const moreThemesPlaceholder = await getImage({ src: moreThemes, format: "webp", width: 1280 });


const themes = [
  { href: "https://astro.build/themes/details/starlight/", title: "Starlight", author: "Astro", src: starlightTheme.src, isSeenOnMobile: true },
  { href: "https://astro.build/themes/details/astroship/", title: "AstroShip", author: "Web3Templates", src: astroShipTheme.src, isSeenOnMobile: true },
  { href: "https://astro.build/themes/details/astrolus/", title: "Astrolus", author: "Tailus-UI", src: astrolusTheme.src, isSeenOnMobile: true },
  { href: "https://astro.build/themes/details/prima-persona/", title: "Prima Persona", author: "Lexington Themes", src: primaPersonaTheme.src, isSeenOnMobile: false },
  { href: "https://astro.build/themes/details/tailcast/", title: "Tailcast", author: "matt765", src: tailcastTheme.src, isSeenOnMobile: false },
];
---

<div
  class="p-1 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-1 bg-astro-dark-800 border border-astro-dark-100/20 rounded-2xl"
>
  {
    themes.map((theme) => (
      <div
        class:list={[ "size-fit group relative", !theme.isSeenOnMobile && "hidden lg:block" ]}
      >
        <img class="size-full rounded-xl" src={theme.src} alt={`${theme.title} Theme by ${theme.author}`} />
        <div class="m-auto size-full hidden group-hover:landing-section absolute inset-0 z-10 bg-gradient-to-b from-transparent to-30% to-astro-dark-900/80 rounded-xl">
          <Link href={theme.href} target="_blank" class="secondary">
            <span>View Theme</span>
            <Icon name="ri:eye-line" size={18} />
          </Link>
        </div>
      </div>
    ))
  }
  <div class="size-fit group relative">
    <img class="size-full rounded-xl isolate select-none" src={moreThemesPlaceholder.src} alt="An image showing all types of content driven websites you can build with Astro" />
    <div class="m-auto size-full landing-section absolute inset-0 z-10 bg-gradient-to-b from-transparent to-30% to-astro-dark-900/20 group-hover:to-astro-dark-900/50 rounded-xl">
      <Link href='/themes' class="secondary">
        <span>Browse more themes</span>
        <Icon name="ri:arrow-right-line" size={18} />
      </Link>
    </div>
  </div>
</div>
