---
import { format } from 'date-fns'
import { parseBlogPost, sortPosts } from './_utils.js'
import Layout from '../../layouts/Base.astro'
import PageTitle from '../../components/PageTitle.astro';
import MaxWidth from '../../components/MaxWidth.astro';

const data = await Astro.glob('../../content/blog/*.mdx')
const allPosts = await Promise.all(data.map(parseBlogPost))

const title = 'The Astro Blog'
const description = 'Get all the latest news from the Astroverse.'
---

<Layout {title} {description}>
	<PageTitle>
		<Fragment slot="title">{title}</Fragment>

		{description}
	</PageTitle>

	<MaxWidth as="section">
		<ul class="md:mt-8 mb-8">
			{allPosts.sort(sortPosts).map((post) => (
				<li class="py-12 border-t first:border-t-0 border-gray-200 grid sm:grid-cols-3 gap-2">
					<div class="w-56 text-gray-500">
						<p><time datetime={post.publishDate.toUTCString()}>
						{format(post.publishDate, 'MMMM dd, yyyy')}
					</time></p>
					</div>
					<div class="sm:col-span-2 relative">
						<h2 class="text-2xl text-gray-900 font-bold">
							<a href={post.url} class="after:absolute after:-inset-2 hover:underline">
								{post.title}
							</a>
						</h2>
						<div class="mt-4 text-gray-900">
							{post.description}
						</div>
					</div>
				</li>
				))}
			</ul>
	</MaxWidth>
</Layout>