---
import { Image } from "astro:assets"
import { getEntry, type CollectionEntry } from "astro:content"

export interface Props {
	slug: CollectionEntry<"themes">["slug"]
}

const { slug } = Astro.props
const entry = await getEntry("themes", slug)
if (!entry) throw new Error(`Could not find theme with slug "${slug}"`)

const { author, title, image } = entry.data
---

<li
	class:list={[
		"group relative flex aspect-[1200/630] h-full w-full cursor-pointer flex-col overflow-hidden bg-astro-gray-600",
		// Override default Markdown content styles
		"!m-0 before:!hidden",
	]}
>
	<a href={`/themes/details/${slug}/`} class="h-full w-full text-astro-gray-100">
		<Image
			src={image}
			width={450}
			height={236}
			alt=""
			class="h-full w-full object-cover object-top"
		/>

		<span
			class="pointer-events-none absolute bottom-0 z-10 flex w-full flex-col gap-2 bg-astro-gray-500/95 p-4 opacity-0 transition-opacity duration-300 ease-out group-focus-within:opacity-100 group-hover:opacity-100"
		>
			<span class="heading-5">{title}</span>
			<span class="body flex flex-row items-center gap-2">
				by {author.name}
			</span>
		</span>
	</a>
</li>
