---
import Card from "~/components/Card.astro"
import CardGrid from "~/components/CardGrid.astro"
import CardHeading from "~/components/CardHeading.astro"
import applicationFocusedImg from "../_assets/application-focused.webp"
import contentFocusedImg from "../_assets/content-focused.webp"
import LandingSectionText from "./LandingSectionText.astro"
---

<section class="landing-section">
	<LandingSectionText wide>
		<Fragment slot="title">One frontend architecture with endless possibilities</Fragment>
		<Fragment slot="body">
			Step into the future with <a
				href="https://docs.astro.build/en/concepts/islands/"
				class="link-underline">Islands</a
			> — Astro's next-gen frontend architecture. Supercharge your development with automatic
			JS-to-HTML streaming and a beloved developer experience.
		</Fragment>
	</LandingSectionText>
	<CardGrid class="mt-10 w-full max-w-6xl justify-center px-4 text-start lg:grid-cols-2">
		<Card className="max-w-xl">
			<img
				src={contentFocusedImg.src}
				width={contentFocusedImg.width}
				height={contentFocusedImg.height}
				class="w-full"
				alt="Graphic of multiple content files combining into a single webpage"
				loading="lazy"
				decoding="async"
			/>
			<div class="p-6">
				<CardHeading class="heading-4 max-w-[20ch]">Content-first websites</CardHeading>
				<p class="body mr-12 mt-6 text-gray-100">
					Fetch data from your <a
						class="link-underline"
						href="https://docs.astro.build/en/guides/cms/">CMS</a
					> or work locally with
					<a class="link-underline" href="https://docs.astro.build/en/guides/content-collections/"
						>type-safe Markdown and MDX</a
					> APIs. Astro automatically removes unused JavaScript and renders to HTML for better core
					web vitals, conversion rates and SEO.
				</p>
			</div>
		</Card>

		<Card className="max-w-xl">
			<img
				src={applicationFocusedImg.src}
				width={applicationFocusedImg.width}
				height={applicationFocusedImg.height}
				class="w-full"
				alt="Graphic of a single section of a webpage rendering in the browser"
				loading="lazy"
				decoding="async"
			/>
			<div class="p-6">
				<CardHeading class="heading-4 max-w-[20ch]">Web applications & APIs</CardHeading>
				<p class="body mr-12 mt-6 text-gray-100">
					Build and embed powerful <a
						class="link-underline"
						href="https://en.wikipedia.org/wiki/Single-page_application"
						>client-side web applications</a
					> (SPAs, PWAs) when you need them. Align your backend APIs and frontend code together in
					the same Astro codebase. Author in React, Svelte, Vue, and more.
				</p>
			</div>
		</Card>
	</CardGrid>
</section>
