---
import Icon from 'astro-icon'

type Props = {
	href: string
	title: string
	class?: string
	subtitle?: string
};

const { title, subtitle, href, class: className } = Astro.props;
---

<a href={href} class:list={["h-9 group w-fit flex items-center justify-center gap-0 bg-astro-dark-900/55 backdrop-blur-3xl rounded-full", className]}>
	<div class="px-3 h-full w-fit flex items-center bg-gradient-to-tr from-[#1321AC] to-[#881ABD] rounded-full">
		<span class="text-sm text-white font-light">{title}</span>
	</div>
	{subtitle && 
		<div class="px-3 h-full w-fit flex items-center justify-center gap-2">
			<span class="text-sm text-astro-gray-200 group-hover:text-white font-light">{subtitle}</span>
			<Icon name="ri:arrow-right-line" size={20} class="text-astro-gray-200 group-hover:text-white" />
		</div>
	}
</a>

<!-- <div
	class:list={[
		"relative flex gap-2 rounded-full text-xs transition-colors duration-150 md:text-sm",
		className,
	]}
>
	<span class="flex items-center gap-2 pr-3">
		<span class="pill relative m-px rounded-full px-3 py-1">{title}</span>
		{subtitle && 
			<div class="w-fit flex items-center gap-2">
				<span>{subtitle}</span>
				<Icon name="ri:arrow-right-line" size={16} />
			</div>
		}

	</span>
</div> -->
