---
import { Icon } from "astro-icon"
import MainSponsorItem from "./MainSponsorItem.astro"

const sponsors = [
	{ src: "sponsors/netlify", alt: "Netlify Logo", href: "https://netlify.com" },
	{
		src: "sponsors/chrome",
		alt: "Google Chrome Logo",
		href: "https://developer.chrome.com/blog/framework-fund-2022/",
	},
	{ src: "sponsors/shipshape", alt: "Ship Shape Logo", href: "https://shipshape.io/?ref=astro" },
	{
		src: "sponsors/buttercms",
		alt: "ButterCMS Logo",
		href: "https://buttercms.com/?utm_source=astro.build&utm_medium=banner&utm_campaign=sponsorship",
	},
	{ src: "sponsors/deepgram", alt: "Deepgram Logo", href: "https://deepgram.com/" },
	{ src: "sponsors/divriots", alt: "Div Riots Logo", href: "https://divriots.com/" },
	{
		src: "sponsors/transloadit",
		alt: "Transloadit Logo",
		href: "https://transloadit.com/?utm_source=astro&utm_medium=referral&utm_campaign=sponsorship&utm_content=astro-website",
	},
	{
		src: "sponsors/cloudcannon",
		alt: "CloudCannon CMS Logo",
		href: "https://cloudcannon.com/astro-cms/?utm_campaign=Astro%20out-of-beta&utm_source=astro-sponsorship",
	},
]

const mainSponsorLogoHeight = 40
---

<section class="landing-section gap-12 py-16 sm:gap-24 sm:py-20 md:py-24 lg:py-28 xl:py-32">
	<h2 class="heading-4 max-w-4xl px-8 lg:heading-3">
		Astro is free, open source software made possible by these wonderful sponsors
	</h2>

	<div class="flex flex-wrap items-center justify-center gap-12 px-8 sm:gap-16">
		<MainSponsorItem href="https://vercel.com/" caption="Official Hosting Partner">
			<Icon
				name="sponsors/vercel"
				alt="Vercel Logo"
				aria-label="Vercel"
				height={mainSponsorLogoHeight}
			/>
		</MainSponsorItem>
		<MainSponsorItem
			href="https://www.storyblok.com/technologies?utm_source=astro&utm_medium=sponsor&utm_campaign=DGM_BRA_ASTR_TRA&utm_content=Astro_3#astro"
			caption="Official CMS Partner"
		>
			<Icon
				name="sponsors/storyblok"
				alt="Storyblok Logo"
				aria-label="Storyblok"
				height={mainSponsorLogoHeight}
			/>
		</MainSponsorItem>
		<MainSponsorItem
			href="https://sentry.io/welcome/?utm_medium=partner&utm_source=astro&utm_campaign=astro-homepage"
			caption="Official Application Monitoring Partner"
		>
			<Icon
				name="sponsors/sentry"
				alt="Sentry Logo"
				aria-label="Sentry"
				class="py-0.5"
				height={mainSponsorLogoHeight}
			/>
		</MainSponsorItem>
	</div>

	<ul
		class="flex max-w-screen-lg flex-wrap items-center justify-center gap-12 px-8 sm:gap-x-24 md:gap-x-48"
	>
		{
			sponsors.map((sponsor) => (
				<li class="outline-offset-8 outline-astro-pink-light focus-within:outline hover:cursor-pointer">
					<a href={sponsor.href} rel="sponsored">
						<Icon name={sponsor.src} aria-label={sponsor.alt} class="w-32" />
					</a>
				</li>
			))
		}
	</ul>
</section>
