---
import { Sprite } from 'astro-icon';
import TagsList from './TagsList.astro';

export interface Props {
    theme: App.Theme;
}

const { theme } = Astro.props as Props;

const Image = theme.demoUrl ? 'a' : 'header';
const netlifyUrl = `https://app.netlify.com/start/deploy?repository=${theme.repoUrl}`;
---

<article class="flex flex-col rounded-lg shadow-md overflow-hidden bg-white">
    <Image href={theme.demoUrl?.href} class="aspect-w-16 aspect-h-9">
        <img src={theme.image.src} alt={theme.image.alt} />
        
    </Image>

    <div class="flex justify-between items-start">
        <h2 class="p-4 text-lg font-display font-bold">{theme.title}</h2>
        {theme.tags.length > 0 && (<TagsList tags={theme.tags} />)}
    </div>

    <p class="px-4 pb-8 text-sm flex-1">{theme.description}</p>

    <footer class="flex flex-row items-center justify-between px-4 pb-6">
        <a href={netlifyUrl}>
            <img src="https://www.netlify.com/img/deploy/button.svg" alt="" title="Deploy to Netlify">
        </a>

        <a href={theme.repoUrl} class="subtle flex items-center gap-x-1 text-sm">
            <span class="sr-only">View theme source code</span>
            <Sprite pack="heroicons-outline" name="star" size="1.25em" />
            164 stars
        </a>
    </footer>
</article>