---
import { Sprite } from 'astro-icon';
import { Picture } from '@astrojs/image';
import { themeImage } from '../../data/images.js';

export interface Props {
    theme: App.Theme;
}

const { theme } = Astro.props as Props;

const image = await themeImage(theme.image.src);

const linkHref = theme.demoUrl?.href || theme.repoUrl.href;

const stars = theme.stars;
const netlifyUrl = stars !== undefined && `https://app.netlify.com/start/deploy?repository=${theme.repoUrl.href}`;
---

<article class="flex flex-col rounded-lg shadow-md bg-white">
    <a href={linkHref} alt={theme.image.alt} target="_blank" rel="noopener" class="aspect-w-16 aspect-h-9 rounded-t-lg overflow-hidden shadow">
        <Picture src={image} alt={theme.title} sizes="(max-width: 640px) 50vw, (max-width: 1024px) 33vw, 100vw)" widths={[400, 800]} />
    </a>

    <div class="flex justify-between items-center p-4">
        <h2 class="text-lg font-display font-bold">
            <a href={linkHref} class="subtle">{theme.title}</a>
        </h2>

        {(stars || theme.official) && (
            <a href={theme.repoUrl.href} alt="View the source code" target="_blank" rel="noopener" class="subtle flex items-center gap-x-1 col-start-2 text-sm">
                {theme.official ? (
                    <Sprite name="logo" size="1.5em" class="inline -mr-0.5 mt-1" aria-hidden="true" />
                    <span>Official</span>
                ) : (
                    <Sprite pack="fa-regular" name="star" size="1.25em" aria-label="GitHub stars count" />
                    <span>{stars}</span>
                )}
            </a>
        )}
    </div>

    <p class="px-4 mb-8 text-sm flex-1 line-clamp-3">
        {theme.description}
    </p>

    <footer class="flex items-center px-4 pb-3">
        {netlifyUrl && (
            <a href={netlifyUrl} target="_blank" rel="noopener">
                <img src="https://www.netlify.com/img/deploy/button.svg" alt="Deploy to Netlify" title="Deploy to Netlify" width="146" height="32">
            </a>
        )}

        <a href={theme.repoUrl.href} alt="View on GitHub" class="subtle ml-auto p-3 -mr-3">
            <span class="sr-only">View on GitHub</span>
            <Sprite name="logos/github-mark" size={28} aria-hidden="true" />
        </a>        
    </footer>
</article>
