---
import { Sprite } from 'astro-icon';
import { getStarsForRepo } from '../../github.ts';

export interface Props {
    theme: App.Theme;
}

const { theme } = Astro.props as Props;

const linkHref = theme.demoUrl?.href || theme.repoUrl.href;

const stars = await getStarsForRepo(theme.repoUrl.href);
const netlifyUrl = stars !== undefined && `https://app.netlify.com/start/deploy?repository=${theme.repoUrl.href}`;
---

<article class="flex flex-col rounded-lg shadow-md bg-white">
    <a href={linkHref} target="_blank" rel="noopener noreferrer" class="aspect-w-16 aspect-h-9 rounded-t-lg overflow-hidden shadow">
        <img src={theme.image.src} alt={theme.image.alt} class="h-auto" loading="lazy" />
    </a>

    <div class="flex justify-between items-center p-4">
        <h2 class="text-lg font-display font-bold">
            <a href={linkHref} class="subtle">{theme.title}</a>
        </h2>

        {(stars || theme.official) && (
            <a href={theme.repoUrl.href} target="_blank" rel="noopener noreferrer" class="subtle flex items-center gap-x-1 col-start-2 text-sm">
                <span class="sr-only">View theme source code</span>

                {theme.official ? (
                    <Sprite name="logo" size="1.5em" class="inline -mr-0.5 mt-1" />
                    <span>Official</span>
                ) : (
                    <Sprite pack="fa-regular" name="star" size="1.25em" />
                    <span>{stars}</span>
                )}
            </a>
        )}
    </div>

    <p class="px-4 pb-8 text-sm flex-1">
        {theme.description}
    </p>

    <footer class="flex items-center px-4 pb-3">
        {netlifyUrl && (
            <a href={netlifyUrl} target="_blank" rel="noopener noreferrer">
                <img src="https://www.netlify.com/img/deploy/button.svg" alt="" title="Deploy to Netlify">
            </a>
        )}

        <a href={theme.repoUrl.href} class="subtle ml-auto p-3 -mr-3">
            <Sprite name="logos/github-mark" size={28} />
        </a>        
    </footer>
</article>
