---
import { Image } from "astro:assets"
import ThemeTwo from "../_assets/themes/theme-2.png"
import ThemeSeven from "../_assets/themes/theme-7.png"
import ThemeEight from "../_assets/themes/theme-8.png"
import ThemeNine from "../_assets/themes/theme-9.png"
---

<section class="pt-10 md:pt-20 lg:pt-14">
    <div class="w-full h-[20rem] md:h-[30rem] lg:h-[40rem] xl:h-[45rem] relative flex items-center justify-center overflow-hidden">

        <div class="absolute z-50 w-full h-full bg-gradient-to-b from-transparent via-[#060913] via-70% to-95% to-[#060913]">
        </div>

        <div class="w-3/4 p-2 absolute top-6 md:top-10 lg:top-14 z-40 bg-[#111521] border border-[#1E2231] rounded-2xl">
            <Image class="rounded-xl w-full h-full object-cover object-left-top" src={ThemeTwo} alt="AstroWind Theme">
        </div>

        <div class="w-3/4 h-fit sm:h-3/4 p-2 absolute left-6 md:left-16 lg:left-28 xl:left-44 z-30 bg-[#111521] border border-[#1E2231] rounded-2xl">
            <Image class="rounded-xl w-full h-full object-cover object-right-top" src={ThemeSeven} alt="AstroPaper Theme">
        </div>

        <div class="w-3/4 h-fit sm:h-3/4 p-2 absolute right-6 md:right-16 lg:right-28 xl:right-44 z-30 bg-[#111521] border border-[#1E2231] rounded-2xl">
            <Image class="rounded-xl w-full h-full object-cover object-top" src={ThemeNine} alt="Astroplate Theme">
        </div>

        <div class="hidden md:block w-2/4 h-fit sm:h-4/6 p-2 absolute left-4 md:left-8 lg:left-24 xl:left-36 z-20 bg-[#111521] border border-[#1E2231] rounded-2xl">
            <Image class="rounded-xl w-full h-full object-cover object-left-top" src={ThemeEight} alt="Masonry UI Theme">
        </div>

        <div class="hidden md:block w-2/4 h-fit sm:h-4/6 p-2 absolute right-4 md:right-8 lg:right-24 xl:right-36 z-20 bg-[#111521] border border-[#1E2231] rounded-2xl">
            <Image class="rounded-xl w-full h-full object-cover object-right-top" src={ThemeTwo} alt="AstroWind Theme">
        </div>
    </div>
</section>