---
import { getShowcase } from '../data/showcase/index.js'
import CardGrid from '../components/CardGrid.astro'
import ShowcaseCard from '../components/ShowcaseCard.astro'
import Layout from '../layouts/Catalog.astro'
import shareImage from '../assets/showcase/social.jpg'

const showcase = await getShowcase()

const title = 'Showcase'
const description =
    "Explore what's possible with Astro and get inspired for your next project."
---

<Layout
    title={title}
    description={description}
    image={shareImage}
    collections={[]}
    current={undefined}
    searchable={false}
>
    <Fragment slot="cards">
        <CardGrid class="sm:grid-flow-row-dense">
            {showcase.map((site) => <ShowcaseCard site={site} />)}
        </CardGrid>
    </Fragment>

    <Fragment slot="info">
        <a
            href="https://github.com/withastro/astro.build/issues/new/choose"
            target="_blank"
            rel="noopener noreferrer"
            class="underline subtle"
            >Submit your site.</a>
        Questions about building your own themes? Join our community on
        <a href="https://astro.build/chat" class="underline subtle">Discord!</a>
    </Fragment>
</Layout>
