---
export type Props = {
	title?: string
	cta?: {
		text: string
		href: string
	}
}

const { title, cta } = Astro.props
---

<section class="flex flex-col gap-4 lg:gap-6">
	{
		!!title && (
			<header class="flex items-end justify-between">
				<h3 class="heading-3">{title}</h3>
				{cta?.href && (
					<a class="button button-sm hidden md:flex" href={cta.href}>
						<span>{cta.text}</span>
					</a>
				)}
			</header>
		)
	}
	<slot />
	{
		cta?.href && (
			<a class="button button-sm md:hidden" href={cta.href}>
				<span>{cta.text}</span>
			</a>
		)
	}
</section>
