---
import { Image } from "astro:assets"
import bgImage from "../assets/blog/community-day-2023/bg.webp"

export interface Props {
	creator: string
	github: string
	name: string
	link: string
	description: string
	fact: string
	img?: ImageMetadata
	linkTextOverride?: string
}

const { creator, github, name, link, description, fact, img, linkTextOverride } = Astro.props
---

<div class="grid grid-cols-1">
	<div class="prose my-8">
		<div class="relative overflow-clip">
			<div
				class="absolute z-20 flex w-full items-center justify-between border-b-[0.15px] border-gray-500 p-2 xl:px-8 xl:py-4"
			>
				<p class="font-obviously text-sm font-medium text-white xl:text-lg">{name}</p>
				<span class="flex items-center gap-2">
					<svg
						class="h-2 w-2 xl:h-4 xl:w-4"
						width="25"
						height="24"
						viewBox="0 0 25 24"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M13.2071 19.295C13.3945 19.4825 13.4998 19.7368 13.4998 20.0019C13.4998 20.267 13.3945 20.5212 13.2071 20.7087L11.9646 21.9587C10.6507 23.2719 8.86885 24.0093 7.01119 24.0087C5.15352 24.0081 3.37218 23.2696 2.05902 21.9556C0.74587 20.6416 0.00847802 18.8598 0.00906407 17.0022C0.00965012 15.1445 0.748167 13.3631 2.06215 12.05L5.07715 9.03499C6.33926 7.77188 8.03636 7.03883 9.82118 6.98585C11.606 6.93287 13.3436 7.56396 14.6784 8.74999C14.7769 8.83732 14.8572 8.9432 14.9148 9.06157C14.9724 9.17994 15.0061 9.30849 15.014 9.43989C15.0218 9.57129 15.0038 9.70295 14.9608 9.82736C14.9178 9.95178 14.8507 10.0665 14.7634 10.165C14.6761 10.2635 14.5702 10.3438 14.4518 10.4014C14.3335 10.459 14.2049 10.4927 14.0735 10.5006C13.9421 10.5084 13.8104 10.4904 13.686 10.4474C13.5616 10.4044 13.4469 10.3373 13.3484 10.25C12.395 9.40338 11.1543 8.95295 9.87983 8.99082C8.60538 9.02869 7.39355 9.55201 6.49215 10.4537L3.47715 13.465C2.53928 14.4029 2.01239 15.6749 2.01239 17.0012C2.01239 18.3276 2.53928 19.5996 3.47715 20.5375C4.41502 21.4754 5.68705 22.0023 7.0134 22.0023C8.33975 22.0023 9.61178 21.4754 10.5496 20.5375L11.7921 19.295C11.885 19.202 11.9953 19.1283 12.1167 19.0779C12.2381 19.0276 12.3682 19.0017 12.4996 19.0017C12.6311 19.0017 12.7612 19.0276 12.8826 19.0779C13.004 19.1283 13.1143 19.202 13.2071 19.295ZM21.9671 2.04499C20.653 0.733768 18.8723 -0.00262451 17.0159 -0.00262451C15.1595 -0.00262451 13.3788 0.733768 12.0646 2.04499L10.8221 3.28874C10.6347 3.47639 10.5294 3.73081 10.5295 3.99606C10.5297 4.26131 10.6351 4.51565 10.8228 4.70312C11.0104 4.89059 11.2648 4.99585 11.5301 4.99573C11.7953 4.99562 12.0497 4.89014 12.2371 4.7025L13.4796 3.45999C14.4175 2.52212 15.6895 1.99523 17.0159 1.99523C18.3422 1.99523 19.6143 2.52212 20.5521 3.45999C21.49 4.39787 22.0169 5.66989 22.0169 6.99624C22.0169 8.3226 21.49 9.59462 20.5521 10.5325L17.5371 13.55C16.6353 14.4512 15.4232 14.9738 14.1487 15.011C12.8743 15.0482 11.6338 14.5971 10.6809 13.75C10.5824 13.6627 10.4677 13.5956 10.3433 13.5526C10.2189 13.5096 10.0872 13.4915 9.95579 13.4994C9.69043 13.5154 9.44227 13.6361 9.2659 13.835C9.17857 13.9335 9.1115 14.0482 9.0685 14.1726C9.02551 14.297 9.00745 14.4287 9.01534 14.5601C9.03128 14.8255 9.15199 15.0736 9.3509 15.25C10.6854 16.4364 12.4228 17.0679 14.2076 17.0154C15.9924 16.9629 17.6897 16.2303 18.9521 14.9675L21.9671 11.9525C23.2791 10.6382 24.016 8.85705 24.016 6.99999C24.016 5.14294 23.2791 3.36177 21.9671 2.04749V2.04499Z"
							fill="#BFC1C9"></path>
					</svg>
					<a
						target="_blank"
						class="font-mono text-xs font-normal text-[#BFC1C9] no-underline xl:text-sm"
						href={link}
					>
						{linkTextOverride || link}
					</a>
				</span>
			</div>
			{
				img ? (
					<Image
						alt=""
						class="xl:px-18 absolute z-10 px-10 pt-12 xl:pt-24"
						src={img}
						width={1600}
						height={900}
					/>
				) : null
			}
			<Image class="relative z-0" src={bgImage} alt="" />
		</div>
		<slot />
		<p>Created by <a href={github} target="_blank">{creator}</a></p>
		<p set:html={description} />
		<blockquote class="border-l pl-2">{fact}</blockquote>
	</div>
</div>
