---
import { Sprite } from 'astro-icon';
import clsx from 'clsx';

export interface Props {
    title?: string;
    items: {
        title: string;
        href: string;
        description?: string;
    }[];
}

console.log(Astro.props);
const { title, items } = Astro.props as Props;

const hasDescriptions = items.some(({ description }) => !!description);
---

<details class="flyout">
    <summary>
        {title}
        <Sprite pack="heroicons-solid" name="chevron-down" size="1.25rem" />
    </summary>

    <div>
        <nav class={clsx({ descriptions: hasDescriptions })}>
            {items.map(({ title, href, description }) => (
                <a href={href} alt={title} class="subtle">
                    <h4>{title}</h4>
                    {description && (
                        <p>{description}</p>
                    )}
                </a>
            ))}
        </nav>
    </div>
</details>

<script type="module" hoist>
    import './FlyoutMenu.ts';
</script>

<style>
    details {
        position: relative;
    }

    summary {
        list-style: none;
        display: flex;
        align-items: center;
        font-family: var(--font-display);
        font-size: var(--size-500);
        color: var(--color-dusk);
    }

    summary::webkit-details-marker {
        display: none;
    }

    summary :global(svg) {
        opacity: 0.5;
        margin-left: 0.125rem;
    }

    div {
        position: absolute;
        top: 100%;
        left: 50%;
        padding-top: 1rem;
        transform: translate(-50%);
        opacity: 0;
        transition: opacity 150ms ease;
        will-change: opacity;
    }

    nav {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem;
        max-width: 20rem;
        background: white;
        text-align: center;
        white-space: nowrap;
        box-shadow: var(--shadow-sm);
        border-radius: 0.5rem;
    }

    details[open] div {
        opacity: 1;
    }

    nav.descriptions {
        width: 100vw;
        text-align: start;
        white-space: normal;
    }

    a h4 {
        font-size: var(--size-500);
        font-family: var(--font-body);
        font-weight: 600;
        margin-bottom: 0.5rem;
    }

    a p {
        font-size: var(--size-400);
        opacity: 0.75;
    }
</style>