---
import { Image } from "astro:assets"
import { default as elian, default as sarah } from "../assets/community_day_2023/sarah.png"

export interface Props {
	title?: string
}

const { title } = Astro.props

export interface MaintainerProject {
	creator: string
	github: string
	name: string
	link: string
	description: string
	fact: string
	img?: ImageMetadata
}

export const maintainerProjects: MaintainerProject[] = [
	{
		creator: "Sarah Rainsberger",
		github: "https://github.com/sarah11918",
		name: "Astro Docs Docs (AD²)",
		link: "https://astro-docs-docs.netlify.app/",
		description:
			"Doc’ing Astro Docs! An entire site full of guides and resources for contributing to Astro Docs.",
		fact: "Sarah has a Starlight problem! This project started as an easier way to organize and write than updating our existing guides as plain Markdown files in the GitHub repo. Everytime I need to organize information, I create a new Starlight project.",
		img: sarah,
	},
	{
		creator: "Elian Van Cutsem",
		github: "https://github.com/eliancodes",
		name: "Search Astro Documentation Raycast Extension",
		link: "https://www.raycast.com/ElianCodes/search-astro-docs",
		description:
			"Reach and search the Astro Documentation in an instant right from Raycast without any hassle. Supports all languages that Astro Documentation supports & has all sidebar links that Astro Documentation has.",
		fact: "As a docs editor, I found myself constantly having to manually navigate to Astro Documentation and searching for the right pages. I use Raycast all the time, so it seemed like a good solution to create an extension that sped up my docs writing & reviewing process.",
		img: elian,
	},
	{
		creator: "Marijn Kneppers",
		github: "https://github.com/mandar1jn",
		name: "Houston Bot",
		link: "https://github.com/withastro/houston-discord",
		description:
			"Let the bot do it for you! From creating a PTAL request to browsing the docs, Houston Bot is there to make the life of everyone working on/with astro easier",
		fact: `As a support squad member, I got annoyed with having to switch over to a browser to search the docs, so I wrote a bot with a /docs command which allowed me to browse the docs from within discord. After people noticed my work on the bot, some maintainers requested a /ptal (Please Take A Look) command to have an easier overview of the status of a pull request. Fun fact: a /ptal command had been discussed a year earlier, before I even joined the server, but it never got far. I only found out about this a while after I independently developed the command.`,
	},
	{
		creator: "HiDeoo",
		github: "https://github.com/HiDeoo",
		name: "Starlight i18n",
		link: "https://marketplace.visualstudio.com/items?itemName=hideoo.starlight-i18n",
		description:
			"Visual Studio Code extension to easily translate Starlight documentation pages using the built-in support for multilingual sites and git.",
		fact: "Being able to choose a supported language to translate from a Starlight configuration in a workspace repo and having side-by-side editors with the missing changes and the translated page seemed like a good idea and I have been using it for all the translations I have submitted to the Starlight documentation so far.",
	},
	{
		creator: "Tibor Schiemann",
		github: "https://github.com/hippotastic",
		name: "Expressive Code",
		link: "https://github.com/expressive-code/expressive-code",
		description:
			"Expressive Code is an engine for presenting source code on the web, aiming to make your code easy to understand and visually stunning. On top of accurate syntax highlighting powered by the same engine as VS Code, Expressive Code allows you to annotate code blocks using text markers, diff highlighting, code editor & terminal window frames, and more.",
		fact: "After I initially built these features into Astro Docs, users kept asking us how they could use our code snippets in their own projects. This led me to create Expressive Code as a standalone project, which actually became my first published set of NPM packages! I’m really happy that it’s already being used by Astro Docs, Starlight, and many individual websites.",
	},
	{
		creator: "Kevin & Otterlord",
		github: "https://github.com/kevinzunigacuellar/coauthor-generator",
		name: "Co-author generator",
		link: "https://coauthor.kevinzunigacuellar.com/",
		description:
			"Create co-author messages to credit contributors 💜. This tool collects PR participants and creates a formatted co-author string for git commits.",
		fact: "At Astro, we highly value acknowledging our contributors. Our previous method involved a bit of ‘stacking’ (not the type you’re thinking of!) by searching for your git signature on GitHub. Occasionally, this process took longer than the actual PR, but it was a worthwhile effort to show appreciation to our community.",
	},
	{
		creator: "Alexander Niebuhr",
		github: "https://github.com/alexanderniebuhr",
		name: "Astropix",
		link: "https://docs.a.stro.picutres/",
		description:
			"Brand-new integration which adds a external remote image service to astro:assets. You Images will get a remote url which optimizes them, similar to Cloudinary but for free, if you have a Astro Project. It works with every Adapter and Hosting Provider.",
		fact: "External Remote Image Optimization is either complex to setup or costs too much. Making this available for all Astro Users for free, makes the Image story a lot better. Building such a Service is not trivial, the most complex thing to get right is Authorization. How to make sure only Astro users can use it for free and having a fair-use policy in place.",
	},
	{
		creator: "Erika",
		github: "https://github.com/Princesseuh/astro-issues",
		name: "Astro Issues",
		link: "https://astro-issues.vercel.app/",
		description:
			"A dashboard showing stats about all the issues on every Astro repo. The idea is that by being able to visualize the total issue count as a graphical thing, it’ll “gamify” the act of bringing down the issue count.",
		fact: "Docs and Starlight got pressured into triaging their issues, bringing down our total issue count by 50 only a week or so after I released the website",
	},
	{
		creator: "Otterlord",
		github: "https://github.com/TheOtterlord/semver",
		name: "Phlat Houston",
		link: "",
		description:
			"View NPM package versions, and calculate a semver range. Useful for calculating ranges for compatible peer dependencies.",
		fact: "You can view the usage across packages on the public Plausible dashboard",
	},
	{
		creator: "Nate & Chris",
		github: "https://github.com/withastro/automation",
		name: "Astro Automation",
		link: "https://github.com/withastro/automation",
		description:
			"A centralized repository for reusable GitHub Action workflows. These actions help us automate common workflows across many different repositories in the withastro GitHub organization. The major benefit of having common workflows in a single location is that maintenance happens in one spot and is automatically rolled out to all of our repositories. Centralized workflows also make it much easier to set up automated workflows for brand new repositories.",
		fact: "When we first started building Astro, we had one central astro monorepo for all of our code and documentation. This made it easy to share tooling and configuration but it became increasingly difficult to collaborate on many different focus areas as the project grew. While copying and pasting workflow files works for a small handful of repositories, the number of repositories began to grow in the summer of 2023. The automation repository is used by all of our repositories to share merge notifications in our Discord (congratsbot), format our source code with Prettier (format), and automate issue labelling (issue-opened and issue-labeled)",
	},
	{
		creator: "Nate Moore",
		github: "https://github.com/natemoo-re",
		name: "Houston Theme",
		link: "https://github.com/withastro/houston-vscode",
		description:
			"An Astro-branded Visual Studio Code theme featuring cool blues, minty greens, and soft purples and Astro’s mascot Houston.",
		fact: "Astro’s brand colors were begging to be turned into a syntax highlighting theme. With some adjustments for contrast and legibility, I am quite happy that this little experiment turned out so well. This theme has been downloaded by 12.5K people on the Visual Studio Code marketplace and is the default theme for Astro’s Starlight documentation framework.",
	},
	{
		creator: "happydev",
		github: "https://github.com/moustaphadev",
		name: "Live Astro Compiler",
		link: "https://live-astro-compiler.vercel.app/",
		description:
			"A playground for the Astro compiler that generates insightful previews of the compiled output of Astro components.",
		fact: "Sparked by the struggle of quickly spotting compiler bugs, I built this to save time on issue troubleshooting. Instead of diving straight into writing tests, now we can just toss some code into the playground, check out the output, and easily spoting and showing others what’s going wrong — making the whole debugging dance way smoother!",
	},
	{
		creator: "Chris",
		github: "https://github.com/delucis/",
		name: "Astro Badges",
		link: "https://astro.badg.es/",
		description:
			"Astro Badges celebrates Astro contributors with embeddable images featuring achievements unlocked by GitHub activity in the withastro organisation. From Little Green Bug to Constellation Crafter, every one of Astro’s almost 3,500 contributors is here!",
		fact: "Astro Badges started as a weekend project after I noticed the badg.es domain was available. It’s grown a lot since then, including a full redesign, collaborating with Astro’s designer, @doodlemarks. Probably the most challenging thing about maintaining it is coming up with fun achievement names, although @sarah11918 is always game to workshop them! My favourite recent addition is probably the SSRsly achievement for people working on Astro’s serverless adapters. Shout out to @Yan-Thomas, @ElianCodes, @natemoo-re, @mayank99, @torn4dom4n, @jacobthesheep, and @TheOtterlord for contributing along the way :raised_hands:",
	},
]

import bgImage from "../assets/community_day_2023/bg.png"
---

{title ? <h2>{title}</h2> : null}

<div class="grid grid-cols-1">
	{
		maintainerProjects.map((project) => (
			<div class="prose mt-4">
				<p>{project.description}</p>

				<div class="relative overflow-clip">
					<div class="absolute z-10 flex w-full items-center justify-between border-b-[0.15px] border-gray-500 px-8 py-4">
						<p class="font-obviously text-lg font-medium text-white">{project.name}</p>
						<span class="flex items-center gap-2">
							<svg
								class="h-4 w-4"
								width="25"
								height="24"
								viewBox="0 0 25 24"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M13.2071 19.295C13.3945 19.4825 13.4998 19.7368 13.4998 20.0019C13.4998 20.267 13.3945 20.5212 13.2071 20.7087L11.9646 21.9587C10.6507 23.2719 8.86885 24.0093 7.01119 24.0087C5.15352 24.0081 3.37218 23.2696 2.05902 21.9556C0.74587 20.6416 0.00847802 18.8598 0.00906407 17.0022C0.00965012 15.1445 0.748167 13.3631 2.06215 12.05L5.07715 9.03499C6.33926 7.77188 8.03636 7.03883 9.82118 6.98585C11.606 6.93287 13.3436 7.56396 14.6784 8.74999C14.7769 8.83732 14.8572 8.9432 14.9148 9.06157C14.9724 9.17994 15.0061 9.30849 15.014 9.43989C15.0218 9.57129 15.0038 9.70295 14.9608 9.82736C14.9178 9.95178 14.8507 10.0665 14.7634 10.165C14.6761 10.2635 14.5702 10.3438 14.4518 10.4014C14.3335 10.459 14.2049 10.4927 14.0735 10.5006C13.9421 10.5084 13.8104 10.4904 13.686 10.4474C13.5616 10.4044 13.4469 10.3373 13.3484 10.25C12.395 9.40338 11.1543 8.95295 9.87983 8.99082C8.60538 9.02869 7.39355 9.55201 6.49215 10.4537L3.47715 13.465C2.53928 14.4029 2.01239 15.6749 2.01239 17.0012C2.01239 18.3276 2.53928 19.5996 3.47715 20.5375C4.41502 21.4754 5.68705 22.0023 7.0134 22.0023C8.33975 22.0023 9.61178 21.4754 10.5496 20.5375L11.7921 19.295C11.885 19.202 11.9953 19.1283 12.1167 19.0779C12.2381 19.0276 12.3682 19.0017 12.4996 19.0017C12.6311 19.0017 12.7612 19.0276 12.8826 19.0779C13.004 19.1283 13.1143 19.202 13.2071 19.295ZM21.9671 2.04499C20.653 0.733768 18.8723 -0.00262451 17.0159 -0.00262451C15.1595 -0.00262451 13.3788 0.733768 12.0646 2.04499L10.8221 3.28874C10.6347 3.47639 10.5294 3.73081 10.5295 3.99606C10.5297 4.26131 10.6351 4.51565 10.8228 4.70312C11.0104 4.89059 11.2648 4.99585 11.5301 4.99573C11.7953 4.99562 12.0497 4.89014 12.2371 4.7025L13.4796 3.45999C14.4175 2.52212 15.6895 1.99523 17.0159 1.99523C18.3422 1.99523 19.6143 2.52212 20.5521 3.45999C21.49 4.39787 22.0169 5.66989 22.0169 6.99624C22.0169 8.3226 21.49 9.59462 20.5521 10.5325L17.5371 13.55C16.6353 14.4512 15.4232 14.9738 14.1487 15.011C12.8743 15.0482 11.6338 14.5971 10.6809 13.75C10.5824 13.6627 10.4677 13.5956 10.3433 13.5526C10.2189 13.5096 10.0872 13.4915 9.95579 13.4994C9.69043 13.5154 9.44227 13.6361 9.2659 13.835C9.17857 13.9335 9.1115 14.0482 9.0685 14.1726C9.02551 14.297 9.00745 14.4287 9.01534 14.5601C9.03128 14.8255 9.15199 15.0736 9.3509 15.25C10.6854 16.4364 12.4228 17.0679 14.2076 17.0154C15.9924 16.9629 17.6897 16.2303 18.9521 14.9675L21.9671 11.9525C23.2791 10.6382 24.016 8.85705 24.016 6.99999C24.016 5.14294 23.2791 3.36177 21.9671 2.04749V2.04499Z"
									fill="#BFC1C9"
								/>
							</svg>
							<a
								class="overflow-clip font-mono text-sm font-normal text-[#BFC1C9] no-underline"
								href={project.link}
							>
								{project.link}
							</a>
						</span>
					</div>
					{project.img ? (
						<Image
							alt=""
							class="absolute z-10 px-32 pt-24"
							src={project.img}
							width={1600}
							height={900}
						/>
					) : null}
					<Image class="relative z-0" src={bgImage} alt="" />
				</div>

				<blockquote>{project.fact}</blockquote>
				<a href={project.link} target="_blank">
					Read More
				</a>
			</div>
		))
	}
</div>
