---
import { Image } from "astro:assets"
import { default as elian, default as sarah } from "../assets/community_day_2023/sarah.png"

export interface Props {
	title?: string
}

const { title } = Astro.props

export interface MaintainerProject {
	creator: string
	github: string
	name: string
	link: string
	description: string
	fact: string
	img?: ImageMetadata
}

export const maintainerProjects: MaintainerProject[] = [
	{
		creator: "Sarah Rainsberger",
		github: "https://github.com/sarah11918",
		name: "Astro Docs Docs (AD²)",
		link: "https://astro-docs-docs.netlify.app/",
		description:
			"Doc’ing Astro Docs! An entire site full of guides and resources for contributing to Astro Docs.",
		fact: "Sarah has a Starlight problem! This project started as an easier way to organize and write than updating our existing guides as plain Markdown files in the GitHub repo. Everytime I need to organize information, I create a new Starlight project.",
		img: sarah,
	},
	{
		creator: "Elian Van Cutsem",
		github: "https://github.com/eliancodes",
		name: "Search Astro Documentation Raycast Extension",
		link: "https://www.raycast.com/ElianCodes/search-astro-docs",
		description:
			"Reach and search the Astro Documentation in an instant right from Raycast without any hassle. Supports all languages that Astro Documentation supports & has all sidebar links that Astro Documentation has.",
		fact: "As a docs editor, I found myself constantly having to manually navigate to Astro Documentation and searching for the right pages. I use Raycast all the time, so it seemed like a good solution to create an extension that sped up my docs writing & reviewing process.",
		img: elian,
	},
	{
		creator: "Marijn Kneppers",
		github: "https://github.com/mandar1jn",
		name: "Houston Bot",
		link: "https://github.com/withastro/houston-discord",
		description:
			"Let the bot do it for you! From creating a PTAL request to browsing the docs, Houston Bot is there to make the life of everyone working on/with astro easier",
		fact: `As a support squad member, I got annoyed with having to switch over to a browser to search the docs, so I wrote a bot with a /docs command which allowed me to browse the docs from within discord. After people noticed my work on the bot, some maintainers requested a /ptal (Please Take A Look) command to have an easier overview of the status of a pull request. Fun fact: a /ptal command had been discussed a year earlier, before I even joined the server, but it never got far. I only found out about this a while after I independently developed the command.`,
	},
	{
		creator: "HiDeoo",
		github: "https://github.com/HiDeoo",
		name: "Starlight i18n",
		link: "https://marketplace.visualstudio.com/items?itemName=hideoo.starlight-i18n",
		description:
			"Visual Studio Code extension to easily translate Starlight documentation pages using the built-in support for multilingual sites and git.",
		fact: "Being able to choose a supported language to translate from a Starlight configuration in a workspace repo and having side-by-side editors with the missing changes and the translated page seemed like a good idea and I have been using it for all the translations I have submitted to the Starlight documentation so far.",
	},
	{
		creator: "Tibor Schiemann",
		github: "https://github.com/hippotastic",
		name: "Expressive Code",
		link: "https://github.com/expressive-code/expressive-code",
		description:
			"Expressive Code is an engine for presenting source code on the web, aiming to make your code easy to understand and visually stunning. On top of accurate syntax highlighting powered by the same engine as VS Code, Expressive Code allows you to annotate code blocks using text markers, diff highlighting, code editor & terminal window frames, and more.",
		fact: "After I initially built these features into Astro Docs, users kept asking us how they could use our code snippets in their own projects. This led me to create Expressive Code as a standalone project, which actually became my first published set of NPM packages! I’m really happy that it’s already being used by Astro Docs, Starlight, and many individual websites.",
	},
	{
		creator: "Kevin & Otterlord",
		github: "https://github.com/kevinzunigacuellar/coauthor-generator",
		name: "Co-author generator",
		link: "https://coauthor.kevinzunigacuellar.com/",
		description:
			"Create co-author messages to credit contributors 💜. This tool collects PR participants and creates a formatted co-author string for git commits.",
		fact: "At Astro, we highly value acknowledging our contributors. Our previous method involved a bit of ‘stacking’ (not the type you’re thinking of!) by searching for your git signature on GitHub. Occasionally, this process took longer than the actual PR, but it was a worthwhile effort to show appreciation to our community.",
	},
	{
		creator: "Alexander Niebuhr",
		github: "https://github.com/alexanderniebuhr",
		name: "Astropix",
		link: "https://docs.a.stro.picutres/",
		description:
			"Brand-new integration which adds a external remote image service to astro:assets. You Images will get a remote url which optimizes them, similar to Cloudinary but for free, if you have a Astro Project. It works with every Adapter and Hosting Provider.",
		fact: "External Remote Image Optimization is either complex to setup or costs too much. Making this available for all Astro Users for free, makes the Image story a lot better. Building such a Service is not trivial, the most complex thing to get right is Authorization. How to make sure only Astro users can use it for free and having a fair-use policy in place.",
	},
	{
		creator: "Erika",
		github: "https://github.com/Princesseuh/astro-issues",
		name: "Astro Issues",
		link: "https://astro-issues.vercel.app/",
		description:
			"A dashboard showing stats about all the issues on every Astro repo. The idea is that by being able to visualize the total issue count as a graphical thing, it’ll “gamify” the act of bringing down the issue count.",
		fact: "Docs and Starlight got pressured into triaging their issues, bringing down our total issue count by 50 only a week or so after I released the website",
	},
	{
		creator: "Otterlord",
		github: "https://github.com/TheOtterlord/semver",
		name: "Phlat Houston",
		link: "",
		description:
			"View NPM package versions, and calculate a semver range. Useful for calculating ranges for compatible peer dependencies.",
		fact: "You can view the usage across packages on the public Plausible dashboard",
	},
	{
		creator: "Nate & Chris",
		github: "https://github.com/withastro/automation",
		name: "Astro Automation",
		link: "https://github.com/withastro/automation",
		description:
			"A centralized repository for reusable GitHub Action workflows. These actions help us automate common workflows across many different repositories in the withastro GitHub organization. The major benefit of having common workflows in a single location is that maintenance happens in one spot and is automatically rolled out to all of our repositories. Centralized workflows also make it much easier to set up automated workflows for brand new repositories.",
		fact: "When we first started building Astro, we had one central astro monorepo for all of our code and documentation. This made it easy to share tooling and configuration but it became increasingly difficult to collaborate on many different focus areas as the project grew. While copying and pasting workflow files works for a small handful of repositories, the number of repositories began to grow in the summer of 2023. The automation repository is used by all of our repositories to share merge notifications in our Discord (congratsbot), format our source code with Prettier (format), and automate issue labelling (issue-opened and issue-labeled)",
	},
	{
		creator: "Nate Moore",
		github: "https://github.com/natemoo-re",
		name: "Houston Theme",
		link: "https://github.com/withastro/houston-vscode",
		description:
			"An Astro-branded Visual Studio Code theme featuring cool blues, minty greens, and soft purples and Astro’s mascot Houston.",
		fact: "Astro’s brand colors were begging to be turned into a syntax highlighting theme. With some adjustments for contrast and legibility, I am quite happy that this little experiment turned out so well. This theme has been downloaded by 12.5K people on the Visual Studio Code marketplace and is the default theme for Astro’s Starlight documentation framework.",
	},
	{
		creator: "happydev",
		github: "https://github.com/moustaphadev",
		name: "Live Astro Compiler",
		link: "https://live-astro-compiler.vercel.app/",
		description:
			"A playground for the Astro compiler that generates insightful previews of the compiled output of Astro components.",
		fact: "Sparked by the struggle of quickly spotting compiler bugs, I built this to save time on issue troubleshooting. Instead of diving straight into writing tests, now we can just toss some code into the playground, check out the output, and easily spoting and showing others what’s going wrong — making the whole debugging dance way smoother!",
	},
	{
		creator: "Chris",
		github: "https://github.com/delucis/",
		name: "Astro Badges",
		link: "https://astro.badg.es/",
		description:
			"Astro Badges celebrates Astro contributors with embeddable images featuring achievements unlocked by GitHub activity in the withastro organisation. From Little Green Bug to Constellation Crafter, every one of Astro’s almost 3,500 contributors is here!",
		fact: "Astro Badges started as a weekend project after I noticed the badg.es domain was available. It’s grown a lot since then, including a full redesign, collaborating with Astro’s designer, @doodlemarks. Probably the most challenging thing about maintaining it is coming up with fun achievement names, although @sarah11918 is always game to workshop them! My favourite recent addition is probably the SSRsly achievement for people working on Astro’s serverless adapters. Shout out to @Yan-Thomas, @ElianCodes, @natemoo-re, @mayank99, @torn4dom4n, @jacobthesheep, and @TheOtterlord for contributing along the way :raised_hands:",
	},
]
---

{title ? <h2>{title}</h2> : null}

<div class="grid grid-cols-1">
	{
		maintainerProjects.map((project) => (
			<div class="prose mt-4">
				<h3>{project.name}</h3>
				<span>
					by{" "}
					<a href={project.github} target="_blank">
						{project.creator}
					</a>
				</span>
				<p>{project.description}</p>
				{project.img ? <Image alt="" src={project.img} width={1600} height={900} /> : null}
				<blockquote>{project.fact}</blockquote>
				<a href={project.link} target="_blank">
					Read More
				</a>
			</div>
		))
	}
</div>
