---
import { smartypants } from 'smartypants'
import Button from './Button.js'

export interface Props {
    title: string
    description:string
    background: 'dark' | 'light'
    svg: string
    png: string
}

const { title, description, background, svg, png } = Astro.props as Props
---

<article class="flex flex-col p-4">
    <div class={`aspect-w-16 aspect-h-9 ${background === 'light' ? 'bg-neutral-50' : 'bg-neutral-900'}`}>
        <div class="flex items-center justify-center">
            <img class="w-3/4 h-auto max-h-16" src={svg} alt={title} />
        </div>
    </div>
    <h2 class="text-md font-bold mt-4 mb-6">{title}</h2>
    <p class="text-sm flex-1" set:html={smartypants(description, 1)}></p>

    <footer class="pt-6">
        <Button href={svg} alt="Download as an SVG">SVG</Button>
        <Button href={png} alt="Download as a PNG">PNG</Button>
    </footer>
</article>