---
import { Sprite } from 'astro-icon';

export interface Props {
    id: string;
    placeholder: string;
    selector: string;
}

const { id, placeholder, selector = '#integrations > *' } = Astro.props as Props;

const inlineStyle = `
    ${selector}[hidden] {
        display: none;
    }

`
---

<div>
    <input type="text" {id} {placeholder}>
    <button>
        <Sprite pack="heroicons-outline" name="search" size={24} />
    </button>
</div>

<style set:html={inlineStyle}></style>

<script type="module" define:vars={{selector, id}}>
    /* https://gomakethings.com/how-to-create-a-search-page-for-a-static-website-with-vanilla-js/ */
    const stopWords = ['a', 'an', 'and', 'are', 'aren\'t', 'as', 'by', 'can', 'cannot', 'can\'t', 'could', 'couldn\'t', 'how', 'is', 'isn\'t', 'it', 'its', 'it\'s', 'that', 'the', 'their', 'there', 'they', 'they\'re', 'them', 'to', 'too', 'us', 'very', 'was', 'we', 'well', 'were', 'what', 'whatever', 'when', 'whenever', 'where', 'with', 'would', 'yet', 'you', 'your', 'yours', 'yourself', 'yourselves', 'the'];

    const input = document.getElementById(id);
    const button = document.querySelector(`#${id} + button`);
    const items = document.querySelectorAll(selector);

    const FPS_30 = 1000 / 30;

    function debounce(fn, timeout = 150) {
        let timer;
        return (...args) => {
            clearTimeout(timer);
            timer = setTimeout(() => fn.apply(this, args), timeout);
        }
    }

    const updateOpen = () => {
        requestAnimationFrame(() => {
        (!!input.value || document.activeElement === input)
            ? input.parentElement.setAttribute('open', '')
            : input.parentElement.removeAttribute('open');
        });
    }

    const update = () => {
        updateOpen();

        const regexMap = input.value.toLowerCase()
            .split(' ')
            .filter(word => word.length && !stopWords.includes(word))
            .map(word => new RegExp(word, 'i'));

        for (const item of items) {
            const isMatch = !regexMap.length || regexMap.some(regex => !!item.textContent.match(regex));
            isMatch ? item.removeAttribute('hidden') : item.setAttribute('hidden', '');
        }
    }

    input.addEventListener('input', debounce(update, FPS_30), true);
    button.addEventListener('click', input.focus, true);
    input.addEventListener('focus', updateOpen, true);
    input.addEventListener('blur', updateOpen, true);
    
    update();
</script>

<style>
    div {
        display: flex;
        border-radius: 9999px;
        padding: 0.25rem;
        background: white;
    }

    input {
        line-height: 2.5rem;
        width: 25ch;
        max-width: 25ch;
        padding-left: 0.75rem;
        background: transparent;
        font-size: 16px;
        outline: none;
    }

    input::placeholder {
        color: var(--color-midnight);
        opacity: 0.75;
    }

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 9999px;
        background: var(--color-dusk);
        color: white;
    }

    @media (max-width: 768px) {
        div {
            width: 100%;
        }

        input {
            flex: 1;
            max-width: unset;
        }
    }

    @media(hover: hover) {
        div {
            background: transparent;
        }

        input {
            max-width: 0;
            padding-left: 0;
        }

        input, button {
            transition: 250ms ease;
        }

        input:focus,
        input:not(:placeholder-shown) {
            max-width: initial;
            padding: 0 .5rem;
            padding-left: 0.75rem;
        }

        button {
            background: transparent;
            color: var(--color-midnight);
        }

        div:hover, div[open] {
            background: white;
        }

        div:hover > input {
            max-width: 25ch;
            padding: 0 .5rem;
            padding-left: 0.75rem;
        }

        div:hover > button,
        input:focus + button,
        input:not(:placeholder-shown) + button {
            background: var(--color-dusk);
            color: white;
        }
    }
</style>