---
import { Sprite } from 'astro-icon'
import MaxWidth from './MaxWidth.astro'

export interface Props extends astroHTML.JSX.HTMLAttributes {
    icon?: string
    title?: string
    subtitle?: string
    description?: string
    invert?: boolean
    as?: string
}

const {
    icon,
    title,
    subtitle,
    description,
    invert = false,
    as = 'section',
    class: className = '',
    ...props
} = Astro.props as Props
---

<MaxWidth as={as} class={[className, 'my-20'].filter(Boolean).join(' ')} {...props}>
    {(title || subtitle || description) && (
        <header class="max-w-4xl w-full mx-auto p-4 flex flex-col align-middle">
            {icon && (
                <div class:list={["mb-4 shadow p-[3px] w-max rounded-md", { "shadow-sky-200": !invert, "shadow-slate-900": invert }]} aria-hidden="true">
                    <div class:list={["bg-gradient-to-br w-12 h-12 grid place-content-center border outline outline-1 outline-offset-[3px] shadow rounded-md", { "from-neutral-50 to-primary-100 border-primary-300 outline-primary-100 shadow-sky-200 text-violet-500": !invert, "from-slate-800 to-slate-900 border-primary-900 outline-slate-800 shadow-slate-800 text-violet-400": invert }]}>
                        <Sprite name={icon} size={32} />
                    </div>
                </div>
            )}
            {title && (
                <h2 class:list={["text-base font-semibold", { "text-violet-600": !invert, "text-violet-300": invert }]}>
                    <slot name="title">{title}</slot>
                </h2>
            )}
            {subtitle && (
                <p class:list={["mt-2 text-3xl sm:text-4xl font-extrabold tracking-tight", { "text-neutral-900": !invert, "text-white": invert }]}>
                    <slot name="subtitle">{subtitle}</slot>
                </p>
            )}
            {description && (
                <p class:list={["mt-4 max-w-prose prose text-base", { "text-neutral-600": !invert, "text-neutral-300": invert }]}>
                    <slot name="description" set:html={description}></slot>
                </p>
            )}
            {Astro.slots.has('cta') && (
                <p class="mt-4">
                    <slot name="cta" />
                </p>
            )}
        </header>
    )}

    <slot />
</MaxWidth>
