---
// SEE https://developers.google.com/search/docs/advanced/guidelines/qualify-outbound-links for rel="sponsored" info
import { Sprite, Icon } from 'astro-icon';
import Section from './Section.astro';
import CardGrid from '../components/CardGrid.astro'

const exclusive = [
    { name: 'netlify', title: 'Netlify', href: 'https://netlify.com', height: '52', label: 'Exclusive Hosting Partner' },
    { name: 'storyblok', title: 'Storyblok', href: 'https://storyblok.com', height: '52', label: 'Exclusive CMS Partner' },
]
const gold = [
    { name: 'vercel', title: 'Vercel', href: 'https://vercel.com', width: '180', height: '48' },
    { name: 'divriots', title: '‹div›RIOTS', href: 'https://divriots.com', width: '192', height: '48' },
    { name: 'stackup', title: 'StackUp Digital', href: 'https://stackupdigital.co.uk/', width: '162', height: '40' },
    { name: 'buttercms', title: 'ButterCMS', href: 'https://buttercms.com/?utm_source=astro.build&utm_medium=banner&utm_campaign=sponsorship', width: '192', height: '48' },
    { name: 'shipshape', title: 'ShipShape', href: 'https://shipshape.io/?ref=astro', width: '162', height: '48' }
]

---

<div class="p-1 bg-gradient-to-br bg-[length:100vw_100vh] bg-fixed from-accent-100 to-gray-200">
    <Section class="flex flex-col gap-y-6">
        <p class="mx-auto mb-6 max-w-sm text-lg text-center text-neutral-600">
            <Sprite name="heroicons-outline:heart" class="w-9 h-9 inline text-red-400 mb-2" aria-hidden="true" />
            <br />
            Astro is free, open source software made possible by these wonderful sponsors:
        </p>
        <div class="grid md:grid-flow-col auto-cols-fr gap-6">
            {exclusive.map(sponsor => (
            <a href={sponsor.href}
                class="flex flex-col items-center gap-2 xl:flex-row p-4 md:p-6 bg-neutral-50 border shadow-sky-200 border-primary-300 hover:border-primary-400 rounded-lg shadow content-center justify-between hover:shadow-accent-300 text-gray-500 hover:text-gray-700">
                <div class="font-light text-xl md:text-2xl text-center md:text-left xl:w-6">
                    {sponsor.label}
                </div>
                <div class="flex shrink items-center max-w-full p-4 pb-2">
                    <span class="sr-only">{sponsor.title}</span>
                    <Icon name={`sponsors/${sponsor.name}`} width={sponsor.width} height={sponsor.height}
                        aria-hidden="true" />
                </div>
            </a>
            ))}
        </div>
        <CardGrid dense={gold.length === 4}>
            {gold.map(sponsor => (
            <li>
                <a href={sponsor.href} rel="sponsored"
                    class="flex p-8 bg-neutral-50 border rounded-lg shadow content-center justify-center border-primary-300 hover:border-primary-400 shadow-sky-200 hover:shadow-accent-300">
                    <span class="sr-only">{sponsor.title}</span>
                    <Icon name={`sponsors/${sponsor.name}`} width={sponsor.width} height={sponsor.height}
                        aria-hidden="true" />
                </a>
            </li>
            ))}
            <p slot="footer" class="flex mt-8 col-span-3 content-center justify-center text-lg text-neutral-600  max-w-sm  mx-auto text-center ">
                Plus, our amazing community of individual sponsors and contributors. Thank you!
            </p>
        </CardGrid>
    </Section>
</div>

<style>
    span[data-initials]::before {
        @apply absolute top-0 right-0 bottom-0 left-0 z-0 bg-primary-900 text-neutral-50 text-lg flex items-center justify-center text-center;
        content: "";
        content: attr(data-initials);
    }
</style>
