---
import { Picture } from '@astrojs/image/components'
import { Sprite } from 'astro-icon'
import type { Theme } from '../types.js'
import { neonOutlineCardStyle } from './styles.js'

export interface Props {
    theme: Theme
}

const { theme } = Astro.props as Props

const link = {
    href: !!theme.fullDescription ? `/themes/details/${theme.slug}` : theme.demoUrl?.href || theme.repoUrl.href,
    target: !theme.fullDescription ? "_blank" : undefined
}

const stars = theme.stars
---

<article class:list={["flex flex-col bg-neutral-50", neonOutlineCardStyle]}>
    <a
        {...link}
        class="overflow-hidden rounded-t-lg shadow aspect-w-16 aspect-h-9"
    >
        <Picture
            src={theme.image}
            alt={theme.title}
            sizes="(max-width: 640px) 50vw, (max-width: 1024px) 33vw, 100vw)"
            widths={[400, 800]}
            aspectRatio="16:9"
        />
    </a>

    <div class="flex items-center justify-between p-4">
        <h2 class="flex items-center gap-2 text-lg font-bold">
            <a {...link} class="subtle">{theme.title}</a>
            {theme.official && (
                <Sprite
                    pack="heroicons-solid"
                    name="badge-check"
                    size={20}
                    class="text-primary-500 opacity-70"
                    aria-label="Official Integration"
                />
            )}
        </h2>

        {stars > 0 && (
            <a
                href={theme.repoUrl.href}
                target="_blank"
                rel="noopener"
                class="flex items-center col-start-2 text-sm subtle gap-x-1"
            >
                <span class="sr-only">View the source code</span>
                <Sprite
                    pack="fa-regular"
                    name="star"
                    size="1.25em"
                    aria-label="GitHub stars count"
                />
                <span>{stars}</span>
            </a>
        )}
    </div>

    <p class="flex-1 px-4 mb-4 text-sm line-clamp-3">
        {theme.description}
    </p>
</article>

<style>
    article {
        /* Outline only visible for high contrast users */
        outline: 1px solid transparent;
    }

    article :global(img) {
        @apply w-full;
    }
</style>
