---
import type { CollectionEntry } from "astro:content"
import Card from "~/components/Card.astro"
import CardBadge from "~/components/CardBadge.astro"
import CardBody from "~/components/CardBody.astro"
import { randomFromArray } from "~/helpers/random.js"
import DownloadIcon from "~/icons/DownloadIcon.jsx"
import { iconForIntegration } from "~/icons/integrations/index.js"

export type Props = {
	integration: CollectionEntry<"integrations">
}

const { integration } = Astro.props

const isOfficial = integration.data.categories.includes("official")

const formatter = Intl.NumberFormat("en", { notation: "compact" })

const downloads = formatter.format(integration.data.downloads)

const Icon = iconForIntegration(integration)

const IconBackgrounds = [
	"bg-[#BC52EE]",
	"bg-[#6D6AF0]",
	"bg-[#52EEBD]",
	"bg-[#52B7EE]",
	"bg-[#52EE55]",
	"bg-[#B7EE52]",
	"bg-[#EEBD52]",
	"bg-[#EE5552]",
	"bg-[#EE52B7]",
	"bg-[#858B98]",
]
---

<Card isLink>
	{!!integration.data.badge && <CardBadge position="end">{integration.data.badge}</CardBadge>}
	<CardBody as="a" href={integration.data.homepageUrl || integration.data.npmUrl} target="_blank">
		<div>
			<header class="flex items-center justify-between">
				<div
					class:list={[
						"flex h-14 w-14 items-center justify-center rounded-full bg-white p-3",
						!integration.data.image && ["icon", randomFromArray(IconBackgrounds)],
					]}
				>
					{
						integration.data.image ? (
							<img
								src={integration.data.image}
								alt=""
								class="h-full w-full object-contain object-center"
							/>
						) : (
							<Icon class="h-full w-full text-astro-gray-700" />
						)
					}
				</div>
				<div class="downloads subtle flex items-center gap-x-1 justify-self-end text-sm">
					<DownloadIcon aria-hidden="true" />
					<span>{downloads}</span>
					<span class="sr-only">weekly downloads</span>
				</div>
			</header>
			<h3
				class:list={[
					"body mt-4 mb-1 text-lg md:text-xl font-medium text-white",
					{ official: isOfficial },
				]}
			>
				{integration.data.title}
				{isOfficial && <span class="sr-only">Official</span>}
			</h3>
			<p class="line-clamp-2">{integration.data.description}</p>
		</div>
	</CardBody>
</Card>

<style>
	.icon {
		@apply relative;
	}

	.icon::after {
		@apply absolute inset-0;
		content: "";
		background: linear-gradient(180deg, rgba(35, 38, 45, 0) 27.6%, rgba(35, 38, 45, 0.33) 100%);
	}

	.official::after {
		@apply ml-1 inline-block h-5 w-5 translate-y-[2px] bg-contain bg-no-repeat;
		content: "";
		background-image: url(/assets/official.svg);
	}
</style>
