---
import { Picture } from '@astrojs/image/components'
import { GetStaticPathsResult } from 'astro'
import { Icon } from 'astro-icon'
import { Markdown } from 'astro-remote'
import clsx from 'clsx'
import Button from '../../../components/Button.astro'
import Base from '../../../layouts/Base.astro'
import { getThemes } from '../../../data/themes/index.js'
import type { Theme } from '../../../types.js'
import Carousel from '../../../components/Carousel.astro'

export interface Props {
    theme: Theme
}

export async function getStaticPaths(): Promise<GetStaticPathsResult> {
    const themes = await getThemes()

    return themes
        .filter(theme => !!theme.fullDescription)
        .map((theme) => ({
            params: { slug: theme.slug },
            props: { theme }
        }))
}

const placeholderClass = clsx(`
    bg-neutral-200
    border-4 border-dashed border-neutral-400 rounded-lg
    text-neutral-600 text-2xl font-medium
    flex items-center justify-center text-center
    aspect-[16/9]
`)

const { theme } = Astro.props
---

<Base>
    <div class="pt-20 md:pt-24">
        <!-- header spacers, my one true love -->
    </div>

    <div
        class="max-w-screen-xl mx-auto px-8 pt-4 md:pt-16 pb-12 md:pb-16 lg:py-20 grid gap-8 items-start content-start md:grid-cols-2 md:gap-16"
    >
        <section class="flex flex-col gap-4 md:sticky top-24">
            <h2 class="sr-only">Image Gallery</h2>
            <div class=" hidden md:contents">
                <Picture src={theme.image} widths={[576, 1152]} sizes="50vw" alt={theme.title} class="rounded-md shadow-md" />
                {theme.images.map((image) => (
                    <Picture src={image} widths={[576, 1152]} sizes="50vw" alt={theme.title} class="rounded-md shadow-md" />
                ))}
            </div>
            <div class="md:hidden -mx-8">
                <Carousel each={[theme.image, ...theme.images]}>
                    {(image) => (
                        <div class="px-4">
                            <Picture src={image} widths={[414, 828]} alt={theme.title} class="rounded-md shadow-md" />
                        </div>
                    )}
                </Carousel>
            </div>
        </section>

        <section
            class="grid gap-10 content-start text-center justify-items-center md:justify-items-start md:text-left md:sticky top-24"
        >
            <div class="grid gap-4 justify-items-center md:justify-items-start">
                <h1 class="text-4xl font-medium">{theme.title}</h1>

                <p class="pt-3 pb-6">{theme.description}</p>

                <div class="flex flex-wrap gap-4">
                    <Button href={theme.buyUrl?.href || theme.repoUrl.href}>{theme.buyUrl?.href ? "Buy now" : "Get started" }</Button>
                    <Button theme="secondary" href={theme.demoUrl.href}>Live Demo</Button>
                </div>

                {theme.tags?.length > 0 && (
                    <div class="mt-4 flex flex-wrap gap-4 md:gap-6">
                        {
                            theme.tags.map((tag) => (
                                <Icon name={`badges/${tag}`} height={26} class="max-w-[128px]" />
                            ))
                        }
                    </div>
                )}
            </div>

            <section class="prose mt-6">
                <Markdown content={theme.fullDescription} />
            </section>

            {theme.links?.length > 0 && (
                <section>
                    <h2 class="text-2xl font-medium mb-2">Links</h2>
                    <ul class="flex flex-wrap gap-3 md:gap-4">
                        {
                            theme.links.map(({href, text}) => (
                                <li>
                                    <a
                                        href={href}
                                        target="_blank"
                                        rel="noopener noreferrer"
                                        class="text-primary-500 hover:underline flex items-center gap-0.5"
                                    >
                                        <Icon name="heroicons-outline:link" size={18} aria-hidden="" class="opacity-50" /> {text}
                                    </a>
                                </li>
                            ))
                        }
                    </ul>
                </section>
            )}
        </section>
    </div>
</Base>

<style>
    .prose :global(:is(h1, h2, h3, h4)) {
        margin-top: calc(1rem + 0.75em);
        margin-bottom: calc(0.25rem + 0.5em);
    }
</style>