---
import { Picture } from '@astrojs/image/components'
import { GetStaticPathsResult } from 'astro'
import { Icon } from 'astro-icon'
import { Markdown } from 'astro-remote'
import clsx from 'clsx'
import Button from '../../../components/Button.jsx'
import Base from '../../../layouts/Base.astro'
import { getThemes } from '../../../data/themes/index.js'
import type { Theme } from '../../../types.js'

export interface Props {
    theme: Theme
}

export async function getStaticPaths(): Promise<GetStaticPathsResult> {
    const themes = await getThemes()

    return themes
        .filter(theme => !!theme.fullDescription)
        .map((theme) => ({
            params: { slug: theme.slug },
            props: { theme }
        }))
}

const placeholderClass = clsx(`
    bg-neutral-200
    border-4 border-dashed border-neutral-400 rounded-lg
    text-neutral-600 text-2xl font-medium
    flex items-center justify-center text-center
    aspect-[16/9]
`)

const { theme } = Astro.props
---

<Base>
    <div class="h-16">
        <!-- header spacers, my one true love -->
    </div>

    <div
        class="max-w-screen-xl mx-auto px-8 py-12 md:py-16 lg:py-20 grid gap-8 items-start content-start md:grid-cols-2 md:gap-16"
    >
        <section class="grid gap-4 grid-cols-2 md:sticky top-24">
            <h2 class="sr-only">Image Gallery</h2>
            <div class="col-span-2">
                <Picture src={theme.image} widths={[576, 800, 1176]} alt={theme.title} class="rounded-lg shadow-md" />
            </div>
            <div class="hidden md:contents">
                {theme.images.map((image) => (
                    <Picture src={theme.image} widths={[414, 576, 768]} alt={theme.title} class="rounded-md shadow-md" />
                ))}
            </div>
        </section>

        <section
            class="grid gap-10 content-start text-center justify-items-center md:justify-items-start md:text-left"
        >
            <div class="grid gap-4 justify-items-center md:justify-items-start">
                <h1 class="text-4xl font-medium">{theme.title}</h1>

                <p class="pt-3 pb-6">{theme.description}</p>

                <div class="flex flex-wrap gap-4">
                    <Button>Buy for $50</Button>
                    <Button theme="secondary">Live Demo</Button>
                </div>

                {theme.tags?.length > 0 && (
                    <div class="flex flex-wrap gap-2">
                        {
                            theme.tags.map((tag) => (
                                <p class="border border-primary-500 text-primary-500 rounded leading-none p-1 cursor-default">
                                    {tag}
                                </p>
                            ))
                        }
                    </div>
                )}
            </div>

            <section class="prose">
                <Markdown content={theme.fullDescription} />
            </section>

            {theme.links?.length > 0 && (
                <section>
                    <h2 class="text-2xl font-medium mb-2">Links</h2>
                    <ul class="flex flex-wrap gap-3 md:gap-4">
                        {
                            theme.links.map(({href, text}) => (
                                <li>
                                    <a
                                        href={href}
                                        target="_blank"
                                        rel="noopener noreferrer"
                                        class="text-primary-500 hover:underline flex items-center gap-0.5"
                                    >
                                        <Icon name="heroicons-outline:link" size={18} aria-hidden="" class="opacity-50" /> {text}
                                    </a>
                                </li>
                            ))
                        }
                    </ul>
                </section>
            )}
        </section>
    </div>
</Base>
