---
import type { ImageMetadata } from 'astro';
import Image from 'astro/components/Image.astro';
import type { ComponentProps } from 'astro/types';
import { Icon } from 'astro-icon/components';
import ThemeContainer from './ecosystem-tabs/ThemeContainer.astro';

interface Props {
	themes: ComponentProps<typeof ThemeContainer>['theme'][];
	moreCard?: {
		href: string;
		image: ImageMetadata;
		title: string;
	};
	moreLink?: {
		href: string;
		title: string;
	};
}

const { moreCard, moreLink, themes } = Astro.props;
---

<div class="p-1 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 rounded-2xl">
	{themes.map((theme) => <ThemeContainer theme={theme} />)}
	{
		moreCard && (
			<div class="size-fit group relative">
				<Image
					width={800}
					class="width-full rounded-xl isolate select-none"
					src={moreCard.image}
					alt=""
				/>
				<div class="m-auto size-full landing-section absolute inset-0 z-10 bg-gradient-to-b from-transparent to-30% to-astro-dark-900/20 transition-colors ease-in-out duration-300 group-hover:bg-astro-dark-900/40 rounded-xl has-[:focus-visible]:outline has-[:focus-visible]:outline-astro-pink-light">
					<a
						href={moreCard.href}
						class:list={[
							'px-4 py-2 inline-flex items-center justify-center gap-2 rounded-full border text-base font-normal font-sans font-bold border-astro-dark-100/30 transition-colors ease-in-out duration-300 group-hover:border-astro-dark-100/60 text-astro-gray-200 group-hover:text-astro-gray-100 bg-astro-dark-600/50',
							'after:absolute after:inset-0 after:z-10 supports-[selector(:has(:focus-visible))]:focus-visible:outline-none',
						]}
					>
						<span>{moreCard.title}</span>
						<Icon name="ri/arrow-right-line" size={18} aria-hidden="true" />
					</a>
				</div>
			</div>
		)
	}
</div>
{
	moreLink && (
		<a
			href={moreLink.href}
			class="mt-4 px-2 sm:px-4 group flex items-center justify-start gap-2 text-astro-gray-200 hover:text-astro-gray-100"
		>
			<span class="underline underline-offset-2 decoration-[0.5px] decoration-transparent group-hover:decoration-astro-gray-100">
				{moreLink.title}
			</span>
			<Icon name="ri/arrow-right-line" size={18} aria-hidden="true" />
		</a>
	)
}
