---
type Props = {
  label: string;
  size?: string;
  slug?: string;
  logoSrc: string;
  active?: boolean;
};

const { logoSrc, label, slug, size = "size-6 sm:size-8", active = false } = Astro.props;
---

<li>
  <a
    href={slug ? `#${slug}-integration` : `#${label.toLowerCase()}-integration`}
    role="tab"
    data-tab={label.toLowerCase()}
    aria-selected={active ? "true" : undefined}
    class={`relative flex flex-col items-center gap-3 whitespace-nowrap rounded-full text-lg sm:text-xl md:rounded-lg`}
  >
    <div
      data-tab-icon-container={label.toLowerCase()}
      aria-selected={active ? "true" : undefined}
      class="size-fit landing-section rounded-full p-0.5 lg:p-1 bg-astro-dark-100 aria-selected:bg-[#61DAFB]"
    >
      <div class="bg-black size-12 lg:size-16 landing-section rounded-full">
        <div
          data-tab-icon={label.toLowerCase()}
          aria-selected={active ? "true" : undefined}
          class="w-full h-full landing-section rounded-full bg-astro-dark-100/20 aria-selected:bg-[#61DAFB]/20 grayscale aria-selected:grayscale-0"
        >
          <img class={size} src={logoSrc} alt={`${label} Logo`} />
        </div>
      </div>
    </div>

    <p
      data-tab-label={label.toLowerCase()}
      aria-selected={active ? "true" : undefined}
      class="font-medium text-base text-astro-gray-300 aria-selected:text-[#61DAFB]"
    >
      {label}
    </p>
  </a>
</li>
