---
import { Sprite } from 'astro-icon';
import Layout from './Content.astro';
import Aside from '../components/Aside.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
import PillList from '../components/PillList.astro';
import Search from '../components/Search.astro';
import TitleBlock from '../components/blocks/TitleBlock.astro';
import type { Props as BaseHeadProps } from '../components/BaseHead.astro';

export interface Props {
    meta: BaseHeadProps;
    collections: { text: string; slug: string; }[];
    current?: string;
    baseHref: string;
    searchable?: boolean;
}

const { meta, collections, current = 'featured', baseHref, searchable = true } = Astro.props as Props;

const collectionLinks: App.Link[] = [
    {
        text: 'featured',
        href: `${baseHref}/#header`
    },
    ...collections.map(({ text, slug }) => ({
        text,
        href: `${baseHref}/${slug}/#header`
    }))
];

const currentCollection = collectionLinks.find(({ text }) => text === current);
---

<Layout meta={meta}>
    <Nav slot="nav" />

    <TitleBlock>
        <Fragment slot="title">{meta.title}</Fragment>

        <slot name="description"><p>{meta.description}</p></slot>
    </TitleBlock>

    {(searchable || collectionLinks.length > 1) && (
        <header id="header" class="flex flex-col gap-4 mb-4 md:flex-row items-center justify-between md:items-end">
            {collectionLinks.length > 1 && (
                <PillList title="collections" links={collectionLinks} current={currentCollection} prefetch />
            )}

            {searchable && (
                <Search id="catalogsearch" selector="#catalog article" groupSelector="#catalog > section" placeholder="Search" />
            )}
        </header>
    )}

    <section id="catalog" class="flex flex-col gap-y-12 lg:gap-y-16 pt-4 sm:pt-6 lg:pt-8">
        <slot name="cards" />
    </section>
    
    {Astro.slots.info && (
        <Aside class="mt-8 text-sm shadow-md">
        <p class="text-justify">
            <Sprite pack="heroicons-outline" name="information-circle" size="1.5em" class="inline-block" aria-hidden="true" />
            <slot name='info' />
        </p>
    </Aside>
    )}

    <Footer slot="footer" />
</Layout>

<script>
    import listen from 'micromorph/spa';

    if (import.meta.env.PROD) {
        listen({
            include: 'a.pill',
            scrollToTop: false,
            beforeDiff: (doc) => {
                // make sure the `js` class on the body is maintained
                doc.body.classList.add(...document.body.classList)
            }
        });
    }
</script>
