---
import type { GetStaticPathsOptions, Page } from "astro"
import { CollectionEntry, getCollection } from "astro:content"
import Pagination from "~/components/Pagination.astro"
import MainLayout from "~/layouts/MainLayout.astro"
import ShowcaseCard from "./_components/ShowcaseCard.astro"
import SubmitSite from "./_components/SubmitSite.astro"

export const prerender = true

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
	// fetch all showcase sites
	const showcase = await getCollection("showcase")

	// sort featured sites to the front, randomize the rest
	const sortedShowcase = showcase.sort(
		(a, b) => (b.data.featured ?? Math.random()) - (a.data.featured ?? Math.random()),
	)

	return paginate(sortedShowcase, { pageSize: 30 })
}

const { page } = Astro.props as { page: Page<CollectionEntry<"showcase">> }
const showcase = page.data

const allPages = [...Array(page.lastPage).keys()].map((num) => {
	return `/showcase${num === 0 ? "" : `/${String(num + 1)}`}`
})

const title = "Showcase"
const description = "Explore what's possible with Astro and get inspired for your next project."
---

<MainLayout
	title={title}
	description={description}
	image={{ src: "/og/showcase.jpg", alt: "Explore the possibilities" }}
>
	<div class="hero relative">
		<div class="grid-container">
			<h1
				class="heading-3 mx-auto max-w-screen-lg pt-24 text-center sm:heading-2 lg:heading-1 md:pt-32 lg:pt-40"
			>
				Explore the infinite possibilities of Astro
			</h1>
		</div>
	</div>

	<div class="backgrounds grid-container relative">
		<ul class="grid gap-5 md:grid-flow-row-dense md:grid-cols-2 lg:grid-cols-3">
			{
				showcase.map((site, i) => (
					<>
						<li class:list={{ "md:col-span-2 md:row-span-2": site.data.highlight }}>
							<ShowcaseCard site={site} />
						</li>
						{i === 5 && (
							<li class="md:col-span-2 lg:col-span-3">
								<SubmitSite />
							</li>
						)}
					</>
				))
			}
		</ul>

		<Pagination restRoute allPages={allPages} page={page} class="mx-auto" />
	</div>
</MainLayout>

<style>
	:global(main::before) {
		@apply absolute w-full aspect-square bg-repeat mask-linear-gradient-to-b z-noise-underlay;
		content: "";
		background-size: 20px 20px;
		background-image: linear-gradient(to right, rgb(35 38 45) 1px, transparent 1px),
			linear-gradient(to bottom, rgb(35 38 45) 1px, transparent 1px);
	}

	.hero::before {
		@apply absolute bg-blue-purple-gradient mask-radial-gradient z-noise-underlay opacity-50;
		content: "";
		height: 50vw;
		width: 100vw;
		top: 50%;
		translate: 0 -30%;
		left: -60vw;
	}

	.hero::after {
		@apply absolute bg-blue-green-gradient mask-radial-gradient z-noise-underlay opacity-50;
		content: "";
		height: 50vw;
		width: 100vw;
		top: 50%;
		translate: 0 -30%;
		right: -60vw;
	}

	.backgrounds:last-of-type::after {
		@apply absolute bg-orange-yellow-gradient mask-radial-gradient z-noise-underlay;
		content: "";
		height: 50vw;
		width: 100vw;
		bottom: 0;
		translate: 0 70%;
	}
</style>
